nav{

  height: 100px;
  background: rgb(34,34,34);
  background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(27,27,27,1) 100%);
  
}

.navbar > .container-fluid {

  padding: 0px;

}

nav > .container-fluid > .collapse > ul > li {

      padding: 0 30px;
  
  }

  .collapse{

      background: rgb(34,34,34);
      background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(27,27,27,1) 100%);
      margin-top: 50px;

  }

  .collapse ul li a{

      text-align: center;
      padding: 20px 0px;
      border-bottom: 1px solid #7a7a7a;

  }